{% extends "manager/base.html" %}

{% block title %}Create Police{% endblock %}

{% block content %}
    <br/><br/><br/>
    <div class="card w-75 text-center mb-3 mx-auto" style="max-width: 22rem;">
        <h5 class="card-header">Fill the police information</h5>
        <div class="card-body">
            <form action="" method="post">
                {% csrf_token %}
                <p class="card-text">
                    {{ form }}
                    <input type="submit" class="btn btn-primary" value="Login">
            </form>
        </div>
    </div>

{% endblock %}