{% extends "manager/base.html" %}

{% block title %} {{ mission.id }} {% endblock %}

{% block content %}
<br/><br/><br/>
<div class="card w-75 text-center mb-3 mx-auto" style="max-width: 50rem;">
    <h5 class="card-header"> Mission {{mission.id}}</h5>
    <table class="table table-striped table-hover">
        <tr>
            <th>
                <i class="bi bi-calendar">Start Time</i>
            </th>
            <th>
                {{mission.start_time}}
            </th>
        </tr>
        {% if mission.end_time %}
        <tr>
            <th>
                End Time

            </th>
            <th>
                {{mission.end_time}}
            </th>
        </tr>
        <tr>
            <th>
                Mission Status
            </th>
            <th> finished
            </th>
        </tr>
        {% elif assigned_police %}
        <tr>
            <th>
                Mission Status
            </th>
            <th> in progress
            </th>
        </tr>
        {% else %}
        <tr>
            <th>
                Mission Status
            </th>
            <th> waiting for assignment
            </th>
        </tr>
        {% endif %}
        <tr>
            <th>
                Description
            </th>
            <th>
                {{mission.description}}
            </th>
        </tr>
    </table>
</div>
<div class="container text-center">
    {% if mission.end_time == null %}
    <a href='/manager/mission_profile/{{ mission.id }}/end_mission' type="button" class="btn btn-danger">End
        Mission</a>
    {% endif %}
    <p></p>
</div>
<div class="container text-center" style="max-width: 50rem;">
    {% if not assigned_police and mission.end_time == null %}
    <form target="" method='post'>
        {% csrf_token %}
        <p><label for="id_police">Available Officers:</label>
            <select name="police" required id="id_police" multiple class="form-select">
                {% for police_entry in available_police %}
                <option value={{police_entry.id}}>{{police_entry.name}}</option>
                {% endfor %}
            </select>
        </p>
        <input type='submit' value='submit' class="btn btn-primary">
    </form>
    {% elif assigned_police %}
    <table class="table">
        <thead>
        <tr>
            <th>
                Assigned Police
            </th>
        </tr>
        </thead>
        <tbody>
        {% for police in assigned_police %}
        <tr>
            <th>
                {{ police.name }}
            </th>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>


{% endblock %}