{% extends "manager/base.html" %}

{% block title %} {{ mission.id }} {% endblock %}

{% block content %}
    <br/><br/><br/>
    <div class="container">
        <p>Id: {{ mission.id }}</p>
        <p>Description: {{ mission.description }}</p>
    </div>
    <div class="container">
        {% if mission.end_time == null%}
        <button type="button" class="btn btn-info">
            <a href='/manager/mission_profile/{{ mission.id }}/end_mission' type="button" class="btn btn-link">End Mission</a>
        </button>
        {% endif %}
    </div>
    <div>
        {% if not is_assigned %}
        <form method='post'>
            {% csrf_token %}
            {{ form.as_p }}
            <input type='submit' value='submit'>
        </form>
        {%  endif %}
    </div>


{% endblock %}