{% extends "manager/base.html" %}

{% block title %} Missions List {% endblock %}

{% block content %}
    <br/>
    <div class="col card container" style="max-width: 50rem;background: rgb(234,242,255);">
    <div class="container-sm">
        <br>
        <h1>Mission List</h1>
    <br>
        <div class="list-group">
            {% for mission in missions %}
                <a href="/manager/mission_profile/{{ mission.id }}" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Mission #{{ mission.id }}</h5>
                    </div>
                    <p class="mb-1">{{ mission.description }}</p>
                    <small class="text-muted">
                        <i class="bi bi-geo-alt"></i>
                        Location: {{ mission.location }}</small>
                </a>
            {% endfor %}
        </div>
    </div>
    <br>
    <div class="container">
        <a href='/manager/create_mission' type="button" class="btn btn-primary">Create Mission</a>
    </div>
    <br>
    </div>
    <br><br>

{% endblock %}