{% extends "manager/base.html" %}

{% block title %} PolicemenList {% endblock %}

{% block content %}
    <br/>
    <div class="col card container" style="max-width: 50rem;background: rgb(234,242,255);">
    <div class="container-sm">
    <br>
    <h1>Officer List</h1>
    <br>
        <div class="list-group">
            {% for police in policemen %}
                <a href="/manager/policemen_profile/{{ police.username }}" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ police.username }}</h5>
                    </div>
                    <p class="mb-1">{{ police.name }}</p>
                    <small class="text-muted">Birthday: {{ police.birthday }}</small>
                </a>
            {% endfor %}
        </div>
    </div>

    <br>
    <div class="container">
        <a href='/manager/create_police' type="button" class="btn btn-primary">Create Officer Account</a>
    </div>
    <br>
    </div>
    <br>
{% endblock %}