{% extends "manager/base.html" %}

{% block title %} Officer {{ police.name }} {% endblock %}

{% block content %}
    <br/><br/><br/>
    <div class="w-75 mb-3 mx-auto text-center" style="max-width: 25rem;">
        <h5 class="card-header" style="background: rgb(62,74,134);color: white;"> Police</h5>
        <table class="table table-hover" style="background: rgb(234,242,255);color: white;color: black;">
            <tr>
                <th>
                    Username
                </th>
                <td>
                    {{ police.username }}
                </td>
            </tr>
            <tr>
                <th>
                    Name
                </th>
                <td>
                    {{ police.name }}
                </td>
            </tr>
            <tr>
                <th>
                    Gender
                </th>
                <td>
                    {% if police.gender == "1" %}
                        <i class="bi bi-gender-male">
                            Male
                        </i>
                    {% else %}
                        <i class="bi bi-gender-female">
                            Female
                        </i>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>
                    ‌Birthday
                </th>
                <td>
                    <span class="badge bg-dark">
                    <i class="bi bi-calendar"></i>
                    {{ police.birthday }}
                        </span>
                </td>
            </tr>
            <tr>
                <th>
                    Status
                </th>
                <td>
                    {% if police.status == 'available' %}
                        <span class="badge bg-success">
                        Available
                    {% elif police.status == 'unavailable' %}
                        <span class="badge bg-danger">
                        Unavailable
                    {% else %}
                        <span class="badge bg-primary">
                        {{ police.status }}
                    {% endif %}
                    </span>
                </td>
            </tr>
            {% if police.location %}
                <tr>
                    <th>
                        Location
                    </th>
                    <td>
                        {{ police.location }}
                    </td>
                </tr>
            {% endif %}
        </table>
    </div>

    <div class="w-75 text-center mb-3 mx-auto" style="max-width: 25rem;">
        {% if op_done %}
            <div class="alert alert-success" role="alert">
                The message successfully sent.
            </div>
        {% endif %}
        {% if fail_message|length is not 0 %}
            <div class="alert alert-danger" role="alert">
                Fail message: {{ fail_message }}
            </div>
        {% endif %}
        <form action="" method="post">
            {% csrf_token %}
            <p class="card-text">
                {% for field in form %}
                    <div class="form-floating mb-3">
                        {{ field }}
                        <label for="{{ field.id_for_label }}"> {{ field.label }}</label>
                    </div>
                    {{ field.errors }}
                {% endfor %}
            </p>
            <input type="submit" class="btn btn-primary"  value="Send">
        </form>
    </div>
{% endblock %}